.tables {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  height: 70vh;
  overflow-x: scroll;
  box-shadow: 10px 10px 16px 14px rgba(0, 0, 0, 0.43);
  border-radius: 0.6rem;
}

.tables ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
}

.tables li {
  padding: 1rem;
  list-style: none;
}

.hasOrdered button {
  background-color: rgba(250, 141, 53, 0.884);
}
